 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:ital,wght@0,300;0,400;1,100&display=swap');



body{
    background-color: rgb(53 74 35
    );
}

*{
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
    font-size: medium;
    font-family: 'Josefin Sans', sans-serif;
 
}

 /* contros the question size and location */
h1{
    font-size: xx-large;
    color: #fff;
    margin-bottom: 15px;
}

h2{
    font-size: larger;
    margin-bottom: 4rem;
}

.container{
    /* width: 362px;
    height: 340px; */
    /* display:flex ; */
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
    border: 3px solid #0d0c0c;

}

.flex-colum{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content:center;
    align-items: center;
}

.justify-center{
    justify-content: center;

}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

.btn{
 font-size: x-large;
 padding: 3px;
 width: 139px;
 height: 38px;   
 text-align: center;
 margin-bottom: 4px;
 text-decoration: none;
color:#463a8b;
background-color: #0ae3e3;
border-radius: 9px;
border: 3px solid #0d0c0c;

}

.btn:hover{
    cursor:pointer;
    box-shadow: 0.04rem 1.4rem 0 rgba(8,114,244,0.6);
transition: transform 150ms;
transform:scale(1.03);

}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform:none;
}

#highschore-btn{
    background: linear linear-gradient(90deg, rgb(255,247,9)  0%,
    rgb(240,221,6 100%));
}

#highscore-bth:hover{
    box-shadow: 0.04rem 0 rgbba(225,255,0,0.5);
}