*{margin: ;
  padding:;
  box-sizing: border-box;
  border: 1px solid red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* this is the global defult font */
}

body{

  background-color: rgb(122, 107, 107);


}

p{
  color: white;
  font-size: 1.em;
  float: left;
  background-color: black;
}

/* This section is for the auter container */
.outer-container{
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.inner-container{
/* padding: 50px; */
background: black;
height: 100%;
width: 50%;
margin: 0 auto;
display: flex;
flex-direction: column;
justify-content: center;
}


button{
  outline: none;
  background-color: rgb(27, 27, 27);
  color:white;
  font-size: 1.3em;
}

/* Thi5s iis the section for the top barr */
.top-bar p{
float: right;

}


h1, h2 {
color:bisque;
font-size: 16px;
text-align: center;

}

.quiz-intro button{
  display: block;
  margin: 0 auto;

}
/* inner container section


/* Header quiz sectoino*/
/* This control the outer box, which is the main box */
.quiz-intro, main{
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  background-color: #6b705f;
  
}

/* Main quiz sections */

main{
  display: block;

}

li {
  list-style: none;
}

/* Question section */

.question-on-screen{
display: none;

} 

.quiz-finish-screen{
  display:block;
}

.highschores-screen ol:hover{
  overflow:scroll;
  max-height: 200px;
}